- @page_class = 'type-clean'
- @title = 'Obrigado! Recebemos sua notícia.'

section.suggest-news
  .suggest-news-inner
    header
      h1 Obrigado!
      h2 Recebemos sua notícia.



/ p#notice = notice

/ p
/   strong Name:
/   = @reader_article.name
/ p
/   strong Email:
/   = @reader_article.email
/ p
/   strong Title:
/   = @reader_article.title
/ p
/   strong Body:
/   = @reader_article.body
